
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        {% for id in session %}
        <td>{{ Melon.melon_type }}</td>
        <td>{{ session[id] }}</td>
        <td>{{ Melon.price }}</td>
        <td>{{ Melon.price * session[id]}} </td>
        {% endfor %}
        </tr>
        </tbody>
    </table>

    <h3>Total: $27.00</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
